header{
    .header{
        background-color: $primary-color;
        .logo-wrapper{
            justify-content: space-between;
            position: relative;
            padding-top: 30px;
            padding-bottom: 30px;
            .fa-dragon{
                color: white;
            }
            .menu{
                ul{                
                    display: flex;
                    li{
                        list-style: none;
                        a{
                        
                            color: white;
                            text-decoration: none;
                            padding-left: 30px;
                            font-size: 20px; 
        
                        }
                    }                
                    
                }                       
            }
        }
        
    }
}

main{
    .first-content{
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: whitesmoke;
        .col-5{
            a{
                height: 40px;
                width: 200px;
                background-color:$secondary-color;
                color:white;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
}
        }
        .col-7{
            img{
                width: 770px;
                height: 280px;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
                border: 3px solid $secondary-color;
            }
        }

    }
    .second-content{
        padding-top: 50px;
        padding-bottom: 50px;
        h1{
            padding-bottom: 20px;
        }
        .col-4{
            .card{
                text-align: center;
            }
            
            a{                
                background-color:$secondary-color;
                color:white;
                border-radius: 10px;
            }
        }
    }
}
footer{
    .footer{
        background-color: $primary-color;
        padding-top: 50px;
        padding-bottom: 50px;
        color: white;
        .col-4{
            li{
                list-style: none;
            }            
        }
        .col-3{
            .social-media{
                display: inline-grid;
                a{
                    margin-top: 20px;
                }
                .fa-twitter-square{
                    color: aqua;
                }
                .fa-rss-square{
                    color: orange;
                }
                .fa-google-plus-square{
                    color: red;
                }
            }            
        }
    }
}
